extends layout

block content
  h1 Page Not Found!!
   iframe(width='735', height='470', scrolling='no', frameborder='no', style="display:block;margin:0 auto;", src='http://yibo.iyiyun.com/js/yibo404')
 