extends layout

block content
    if !user
      .hero-unit
        h1 欢迎来到 FuHao 符号
        p
        p
          这是一个符号，却烛照出众生。
        p
          a.btn.btn-primary.btn-large(href='/login') 登录
          a.btn.btn-large(href='/reg') 立即注册
    else
      include say
    include posts
   