doctype 5
html
  head
    title= 'FuHao ' + title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    style(type='text/css').
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      font-family: Consolas,微软雅黑;
      }
    link(href='stylesheets/bootstrap-responsive.css', rel='stylesheet')
  body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') FuHao 符号
          .nav-collapse
            ul.nav
              li.active
                a(href='/') 首页
              if !locals.user
                li
                  a(href='/login') 登入
                li
                  a(href='/reg') 注册
              else
                li
                  a(href='/logout') 登出
              li
                a(href='/u/#{locals.user.name}') 我的发表

    #container.container
      if locals.success
        .alert.alert-success #{locals.success}
      if locals.error
        .alert.alert-error #{locals.error}
      block content
      hr
      footer
        p
          a(href='/') Author: Gao Fang Chao
          |  (Contact me via fhfuhao@yeah.net)
    script(src='/javascripts/jquery.js')
